<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
	  <add name="InvoiceDiscounting" connectionString="Data Source=localhost;User Id=localhost;Password=local;PERSIST SECURITY INFO=True;Pooling=true;Connection Lifetime=60" providerName="oracle.manageddataaccess.client" />
  </connectionStrings>

  <appSettings>
    <add key="maxtimeinsec" value="300"/>
  </appSettings>

</configuration>