@model IEnumerable<AuditDetails>
@{
    ViewData["Title"] = "Application Audit";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-between">
            <h3 class="page-title">Audit Log</h3>
            <p>@DateTime.UtcNow.ToShortDateString()</p>

        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <div class="search-group">
                <input type="text" style="width: 300px;" id="txtSearch" placeholder="search" class="form-control pl-5"
                       aria-label="Text input with checkbox">
                <i class="fa fa-search"></i>
            </div>

            @*<button type="button" class="btn btn-outline-primary blue-outline-btn">
                Download Data <img src="~/assets/images/file-download-icon.png" />
            </button>*@
        </div>
    </div>

    <div class="row my-5">
        <div class="col-12">
            <div class="card my-card">
                <div class="card-body px-0">

                    <div class="notif-wrapper p-4 notif-card " style="height: 55vh;">

                        <table id="audit" class="table" style="width:100%">
                            <thead style="text-align:left">
                                <tr>
                                    <th>S/N</th>
                                    <th>Enterprise Username</th>
                                    <th>Action Performed</th>
                                    <th>Time Stamp</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int i = 1; }
                                @if (Model == null)
                                {
                                    <tr>
                                        <td colspan="4">No Record Found</td>
                                    </tr>
                                }
                                else
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <label> @i </label>
                                                @{ i++; }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.USERNAME)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ACTIVITIES)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DATECREATED)
                                            </td>

                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts
	{
    <script>

        $(document).ready(function () {
            $('#audit').DataTable({
                dom: 'lrtip',
                order: [],
                paging: true,
                info: true,
                buttons: [
                    {
                        extend: 'excel',
                        className: 'excel',
                        text: '<i class="fas fa-file-excel"></i>',
                        footer: true,
                        titleAttr: 'Excel'
                    },
                    {
                        extend: 'pdf',
                        text: '<i class="fas fa-file-pdf"></i>',
                        titleAttr: 'PDF'
                    }
                ]
            });
        });

        $('#txtSearch').on('keyup', function () {

            var searchTxt = $("#txtSearch").val();
            $('#audit').DataTable().search(searchTxt).draw();
        });
       
    </script>
}



