
@{
    ViewData["Title"] = "Login";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <title>Login</title>

</head>

<body>
    <form asp-action="ChangePasswordSuccess" asp-controller="Login" method="post" autocomplete="off">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-7 login-left py-5 d-flex justify-content-between flex-column">
                    <div>
                        <div class="row">
                            <div class="col-md-12 ">
                                <img src="~/assets/images/logo.png">
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-12 ">
                                <h3 class="light font-italic">SUPPLY CHAIN</h3>
                                <h3 class="bold font-italic">PLATFORM</h3>
                            </div>

                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-md-12 ">
                            @*<p class="font-weight-bold gradient-color login-text">Access Admin portal</p>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-5 bg-white d-flex flex-column justify-content-center">
                    <div class="row mb-4">
                        <div class="col-12 text-center">
                            <h3>Password Change was Successful!</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="mb-5">
                            <img src="~/assets/images/tick_icon.png" style="width:100px" />
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-9 d-flex form-group justify-content-center">
                            <input type="submit" name="Change Password" class="submit-btn btn btn-primary" value="Proceed to Login">

                        </div>



                    </div>

                </div>
            </div>

        </div>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script>
        $(document).ready(function () {
            $('.js-my-select').select2({
                minimumResultsForSearch: -1
            }

            );
        });        

    </script>
</body>

</html>


